
body {
    text-align: center;
}
article {
    background-color: rgb(247, 255, 207);
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 30px;
}

li{
list-style-position: inside;
}
nav{
    background-color: rgb(247, 255, 207);
    border: 1px solid black;
    margin-bottom: 30px;    
    border-radius: 30px;
}
